.header {
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 45px;
  }
  .divContainerBloque {
    margin-top: 126px;
    margin-bottom: 121px;
  }
  
  ul li a:hover {
    color: coral;
  }
  .opciones {
    display: flex;
    height: 100%;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    font-size: 10px;
  }
  .logo {
    color: hsl(350, 75%, 81%, 0.8);
    margin: 5%;
    size: 20%;
  }
  
  h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .fotocumbia {
    background-color: black;
    height: 300px;
    width: 300px;
    padding: 2%;
    margin-top: 10px;
  }
  
  .fotorock {
    background-color: black;
    height: 300px;
    width: 300px;
    padding: 2%;
    margin-top: 10px;
  }
  .tituloGeneros {
    text-decoration: none;
    color: black;
    margin-top: 10px;
  }
  
  .fotopop {
    background-color: black;
    height: 300px;
    width: 300px;
    padding: 2%;
    margin-top: 10px;
  }
  
  .fotoreggaeton {
    background-color: black;
    height: 300px;
    width: 300px;
    padding: 2%;
    margin-top: 10px;
  }
  
  .fototrap {
    background-color: black;
    height: 300px;
    width: 300px;
    padding: 2%;
    margin-top: 10px;
  }
  .fotohouse {
    background-color: black;
    height: 300px;
    width: 300px;
    padding: 2%;
    margin-top: 10px;
  }
  body {
    background-color: hsl(350, 75%, 81%, 0.8);
  }
  
  .generoindividual {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    color: white;
  }
  .bloquegenero {
    text-align: center;
  }
  footer {
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 45px;
  }
  .footer figure {
    margin: 8px;
  }
  
  ul li a:hover {
    color: coral;
  }
  .opciones {
    display: flex;
    height: 100%;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    font-size: 10px;
  }
  .logo {
    color: hsl(350, 75%, 81%, 0.8);
    margin: 5%;
    size: 20%;
  }
  
  .estilosImagen {
    margin: auto;
  }
  .contenedorimagen {
    display: flex;
  }
  
  .sylesHref {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 15px;
  }
  @media (min-width: 1024px) {
    body {
      background-color: rgb(250, 165, 179);
    }
  
    .headeri {
      background-color: rgb(46, 46, 46);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: auto;
      height: 55px;
      font-family: Arial, Helvetica, sans-serif;
    }
  
    footer {
      background-color: rgb(46, 46, 46);
      display: flex;
      flex-direction: row;
      align-items: center;
      width: auto;
      height: 45px;
      font-family: Arial, Helvetica, sans-serif;
    }
  
    .bloquegenero {
      display: flex;
      align-items: center;
      padding: 30px;
      justify-content: space-around;
    }
  }