/*todos los elemetos*/
*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
}

/*responde a la class "header" display flex(para que este flexible la caja y funcional se pueda modificar con otros estilos de flex) 
..flex direction row(para que este en horizontal)
..justify content space arround(distribuye el espacio entre los items. sooace arround para ue haya espacio) 
..heigt(altura del area del elemento)*/
.header {
  background-color: rgb(46, 46, 46);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 45px;
}

/*cuando pasas el mouse por  arriba*/
div a:hover{
  color: hsl(350, 75%, 81%, 0.8)  ;
}

/*..width (anchura del area del elemento)*/
.opciones {
  display: flex;
  height: 100%;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  font-size: 10px;
}
.logo {
  color: hsl(350, 75%, 81%, 0.8);
  margin: 5%;
  size: 20%;
}
  
  h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cuerpo{
    height: 72vh;
    margin: 40px;
  }
  
  
  body {
    background-color: hsl(350, 75%, 81%, 0.8);
  }

  .estilosImagen {
    display: flex;
    align-items: center;
    margin: auto;
    width: 300px;
  

  }
 

  .descripcion{
    margin-top: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

  }
  
  
  /*footer ENTERO. logo,palabras, etc...*/
footer {
  background-color: rgb(46, 46, 46);
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 45px;
}


/*estilo del footer*/
.opciones {
  display: flex;
  height: 100%;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  font-size: 10px;
  
  
}
/*logo en particular*/
.logo {
  color: hsl(350, 75%, 81%, 0.8);
  margin: 40%;
  size: 20%;
}
/*palabras del footer*/

.sylesHref {
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 15px;
}


  @media (min-width: 1024px) {
    body {
      background-color: rgb(250, 165, 179);
    }
  
    .headeri {
      background-color: rgb(46, 46, 46);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: auto;
      height: 55px;
      font-family: Arial, Helvetica, sans-serif;
    }
    .contenedorimagen {
      width: 100px;
      margin-left: 380px;
      width: 300px;
      height: 300px;
      
    }

    .descripcion{
      margin-top: 100px;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 30px;
  
    }
   
    
  
    footer {
      background-color: rgb(46, 46, 46);
      display: flex;
      flex-direction: row;
      align-items: center;
      width: auto;
      height: 45px;
      font-family: Arial, Helvetica, sans-serif;
    }
  
    .bloquegenero {
      display: flex;
      align-items: center;
      padding: 30px;
      justify-content: space-around;
    }
  }