*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    background-color:  hsl(350, 75%, 81%, 0.3);
    
}

a:hover{
    color: white;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}


.header{
    background-color:rgb(46, 46, 46);
   display: flex;
   flex-direction: column;
   align-items: center;
   width: auto;
   height: 60px;

   
}

.header figure{
    margin: 8px;
}


img{
    width: 100%;
}
.imagenmac{
    background-image: url(https://images-na.ssl-images-amazon.com/images/I/71udX8iRBsL._SL1200_.jpg);
    
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    
    border: solid 20px white; 
    width: 60%;


    
    
}

.cuerpo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.parrafo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    
}

h1{
    color: white;
    font-size: 70px;
}
h2{
    color: white;
}
.by{
    margin-top: 20px;
}


p{
    margin: 5px;
    text-align: center;

    margin-top: 30px;
    
}

a{
    text-decoration: none;
}
.opciones li a{
    text-decoration:none;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}

.opciones li a:hover{
    color: hsl(350, 75%, 81%, 0.8);
}

.opciones li{
    list-style-type: none;
}

.opciones {
    display:flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    font-size: 10px;
}


footer{
    background-color:rgb(46, 46, 46);
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   height: 45px;
   font-family: Arial, Helvetica, sans-serif;
}

.columna{
    display: flex;
    flex-direction: column;
}
footer h6{
    text-align: center;
    color:hsl(350, 75%, 81%, 0.8);
    display: none;
}

.logo{
    color:  hsl(350, 75%, 81%, 0.8);
    
    size: 20%;
    margin: 8px;
}


    @media(min-width: 768px){

  p{
      font-size: 25px;
      padding: 5px;
  }
    .parrafo{
        margin: 10px;
        padding: 20px;
    }

    .opciones li a{
        font-size: 20px;
    }
    

h1{
    font-size: 100px;
}

h2{
    font-size: 30px;
}
    }

@media(min-width: 1024px) {
    .imagenmac{
        background-image: url(https://is2-ssl.mzstatic.com/image/thumb/Music124/v4/e3/38/b5/e338b529-da3f-b4b9-b8f9-1fae428e7a23/093624905899.jpg/1200x1200bf-60.jpg);
        
        width: 30%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 80px;
        margin-bottom: 15px;
    }
    
    p{
        padding: 30px;
    }
    footer{
        background-color:rgb(46, 46, 46);
        display: flex;
        flex-direction: row;
        align-items: center;
        width: auto;
        height: 45px;
        font-family: Arial, Helvetica, sans-serif;
        
        }
        h1{
            font-size: 150px;

            
            
        }
        h2{
            font-size: 40px;
        }
        .header{
            background-color:rgb(46, 46, 46);
           display: flex;
           flex-direction: column;
           align-items: center;
           width: auto;
           height: 55px;
        
           
        }
}