*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    background-color: rgb(255, 181, 43);
}
ul,li,a{
    list-style-type: none;
    text-decoration:none;
    padding:0
}
h2{
    text-align: center;
}
.header{
    background-color:rgb(46, 46, 46);
   display: flex;
   flex-direction: column;
   align-items: center;
   width: auto;
   

   
}
.opciones li a {
    color:white;
    
}
ul li a:hover{
    color: coral;
}
.opciones {
    display:flex;
    height: 100%;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    

}
.logo{
    color: rgb(255, 181, 43);
    margin: 5%;
    size: 20%;
}
.imagenfondo{
    background-image: url('https://cdn.pixabay.com/photo/2015/07/30/17/24/audience-868074_1280.jpg');
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    display: none;
}

.listas{
    display: flex;
    flex-direction: column;
    

    

}
h2{
    color: white;
   font-family: Arial, Helvetica, sans-serif;
   background-color: rgb(31, 31, 31)
   
}
h3{
    color: black;
   font-family: Arial, Helvetica, sans-serif;
   
  
}
img{
    width: 100%;
    
}
.lista{
    display: flex;
    flex-direction: column;
    
    text-align: center;
    background-color: rgb(252, 170, 17);

    
}
.imgl{
    width: 50%;
}
.productos p{
    font-family: Arial, Helvetica, sans-serif;
    size: 5px;
   
}

.productos{
    display: flex;
   flex-wrap: wrap;
}
.producto{
   width: 50%;
   padding: 10px;
}

footer{
    background-color:rgb(46, 46, 46);
   display: flex;
   flex-direction: column;
   align-items: center;
   width: auto;
   
}

.derechos{
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}
.derechos ul li a:hover{
    color: coral;}
