*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    background-color:  hsl(350, 75%, 81%, 0.3);
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color:rgb(46, 46, 46);
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 45px;
}

.logo{
    margin: 8px;
    color:  hsl(350, 75%, 81%, 0.8);
}

.opciones li a{
    text-decoration:none;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}

.opciones li a:hover{
    color: hsl(350, 75%, 81%, 0.8);
}

.opciones li{
    list-style-type: none;
}

.opciones {
    display:flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    font-size: 10px;
}

.imagenfondo{
    display: none;
}

.imagenfondoP{
    display: none;
}

.listas{
    display: flex;
    flex-direction: column;
}
h2{
    background-color: rgb(46, 46, 46);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 45px;
    display: flex;
   justify-content: center;
   align-items: center;
}

.productos{
    display: flex;
   flex-wrap: wrap;
}

.producto p{
    font-size: 15px;
}

.producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.producto a{
    text-decoration: none;
}

.producto h3 a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.producto h3 a:hover{
    color: white;
}

.lista{
    background-color: hsl(350, 75%, 81%, 0.8); 
    display: flex;
    flex-direction: column;
    text-align: center;
   
}

.carta{
    width: 45vh;
}

.imgl{
    border: solid 20px white; 
    width: 60%;
}

.producto a:hover{
    color: white;
}
footer{
    background-color:rgb(46, 46, 46);
   display: flex;
   flex-direction: row;
   align-items: center;
   height: 45px;
   font-family: Arial, Helvetica, sans-serif;
}

footer h6{
    display: none;
}


@media(min-width: 768px){

    .header{
        background-color:rgb(46, 46, 46);
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-around;
       height: 75px
    }
    
    .opciones li a{
        font-size: 20px;
    }
    .productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 10px;
        width: 100%;
       
    }

    .producto p{
        font-size: 14px;
    }
   
    .producto{
        padding: 20px;
        width: 50%;
        
     }

     .imagenfondoP{
        display: block;
        background-image: url('../img/concert.jpeg');
        height: 50vh;
    }

    .imagenfondoP h1{
        color: white;
        position: absolute;
        text-align: center;
        font-size: 130px;
        width: 100%;
        margin-top: 23%;   
    }

   footer{
    background-color:rgb(46, 46, 46);
   display: flex;
   flex-direction: row;
   align-items: center;
   width: auto;
   height: 50px;
}
}


   @media(min-width: 1024px){

    .producto{
        width: 30%;
        padding: 20px;

     }
    
     .productos{
        display: flex;
        flex-wrap: wrap;
       justify-content: space-around;
       padding: 2%;
       align-items: center;
    }
    
    
    .header{
        background-color:rgb(46, 46, 46);
       display: flex;
       flex-direction: column;
       align-items: center;
       width: auto;
       height: 85px;
       font-family: Arial, Helvetica, sans-serif;
       
    }

<<<<<<< HEAD
        footer{
        background-color:rgb(46, 46, 46);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        height: 45px;
        font-family: Arial, Helvetica, sans-serif;
        
        }
=======
    footer{
        background-color:rgb(46, 46, 46);
       display: flex;
       flex-direction: row;
       align-items: center;
       width: auto;
       height: 50px;
       font-family: Arial, Helvetica, sans-serif;
    }
    
    
    footer figure{
        margin: 8px;
    }
>>>>>>> 61ccc8f16bad00a4d139e3a837d4ea9dc93b46db

    
    .imagenfondoP{
        display: none;
    }
    

    .imagenfondo{
        background-image: url(../vid/Live\ music\ concert.mp4);
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
    }
    
    video{
        width: 100%;
    }

    .imagenfondo h1{
        color: white;
        position: absolute;
        width: 100%;
        text-align: center;
        font-size: 190px; 
       margin-top: 20%;
    }

   
    h2{
       height: 60px;
   }

  
   }

