*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    background-color:  hsl(350, 75%, 81%, 0.3);
    
}

p{
    font-family: Arial, Helvetica, sans-serif;
}
ul,li,a{
    list-style-type: none;
    text-decoration:none;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    text-align: center;
}
.header{
    background-color:rgb(46, 46, 46);
   display: flex;
   flex-direction: column;
   align-items: center;
   width: auto;
   height: 60px;

   
}

.header figure{
    margin: 8px;
}
.opciones li a {
    color:white;
    
}
ul li a:hover{
    color: coral;
}
.opciones {
    display:flex;
    height: 100%;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    

}
.logo{
    color:  hsl(350, 75%, 81%, 0.8);
    margin: 5%;
    size: 20%;
}
.imagenfondo{
    background-image: url('../img/concert.jpeg');
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    display: none;
}

.listas{
    display: flex;
    flex-direction: column;
    

    

}
h2{
    color: white;
   font-family: Arial, Helvetica, sans-serif;
   background-color: rgb(31, 31, 31, 0.94);
   height: 90px;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;


   
}
h3 a:hover{
    color: white;
   font-family: Arial, Helvetica, sans-serif;
   
   
  
}
img{
    width: 100%;
    
}
.lista{
    display: flex;
    flex-direction: column;
    
    text-align: center;
    background-color: hsl(350, 75%, 81%, 0.8);
    

    
}
.imgl{
    width: 50%;
}
.productos p{
    font-family: Arial, Helvetica, sans-serif;
    size: 5px;
   
}

.productos{
    display: flex;
   flex-wrap: wrap;
}
.producto{
   width: 100%;
   padding: 20px;
}
.producto a:hover{
    color: white;
}
footer{
    background-color:rgb(46, 46, 46);
   display: flex;
   flex-direction: column;
   align-items: center;
   width: auto;
   height: 50px;
   font-family: Arial, Helvetica, sans-serif;
   
}

.derechos{
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}
.derechos ul li a:hover{
    color: coral;}

   .producto h3{
      
   }

   .imagenfondo2{
    background-image: url('https://cdn.pixabay.com/photo/2016/09/04/18/28/party-people-1644797_1280.jpg');
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    display: none;
}

   @media(min-width: 768px){


    
    .producto{
        width: 50%;
        padding: 20px;
     }

     .imagenfondo2{
        background-image: url('../img/concert.jpeg');
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        
    }

    h2{
        color: white;
       font-family: Arial, Helvetica, sans-serif;
       background-color: rgb(31, 31, 31, 0.94);
       height: 60px;
       text-align: center;
       display: flex;
       justify-content: center;
       align-items: center;
    
    
   }

   footer{
    background-color:rgb(46, 46, 46);
   display: flex;
   flex-direction: column;
   align-items: center;
   width: auto;
   height: 40px;
   
}

.header{
    background-color:rgb(46, 46, 46);
   display: flex;
   flex-direction: column;
   align-items: center;
   width: auto;
   

   
}

ul li a:hover{
    color: coral;
    size: 33%;
}
   }

   @media(min-width: 1024px){

    .header{
        background-color:rgb(46, 46, 46);
       display: flex;
       flex-direction: column;
       align-items: center;
       width: auto;
       height: 80px;
       font-family: Arial, Helvetica, sans-serif;
       
    }

    
   
    
       
    .imagenfondo2{
        background-image: url('https://cdn.pixabay.com/photo/2016/09/04/18/28/party-people-1644797_1280.jpg');
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        display: none;
    }
    .imagenfondo{
        background-image: url('../img/concert.jpeg');
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
       
        
       
    }
    h2{
        color: white;
       font-family: Arial, Helvetica, sans-serif;
       background-color: rgb(31, 31, 31, 0.94);
       height: 60px;
       text-align: center;
       display: flex;
       justify-content: center;
       align-items: center;
   }

   .producto{
    width: 30%;
    padding: 20px;
 }

 .productos{
    display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}
}