*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color:  hsl(350, 75%, 81%, 0.3);
    
}

a:hover{
    color: white;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}
ul,li,a{
    list-style-type: none;
    text-decoration:none;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color:rgb(46, 46, 46);
   display: flex;
   flex-direction: column;
   align-items: center;
   width: auto;
   height: 60px;

   
}

.header figure{
    margin: 8px;
}


img{
    width: 100%;
}
.imagenmac{
    background-image: url(https://www.show.news/__export/1579296657541/sites/debate/img/2020/01/17/39989418_237334646964647_1486397703972483327_n_crop1579296619810.jpg_423682103.jpg);
    
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    
    border: solid 20px white; 
    width: 60%;


    
    
}

.cuerpo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.parrafo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    
}

h1{
    color: white;
    font-size: 800%;
}
h2{
    color: white;
    text-align: center;
    
}

.by{
    margin-top: 20px;
}
p{
    margin: 5px;
    text-align: center;

    margin-top: 30px;
    
}

a{
    text-decoration: none;
}
.opciones li a{
    text-decoration:none;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}

.opciones li a:hover{
    color: hsl(350, 75%, 81%, 0.8);
}

.opciones li{
    list-style-type: none;
}

.opciones {
    display:flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    font-size: 10px;
}


footer{
    background-color:rgb(46, 46, 46);
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   height: 45px;
   font-family: Arial, Helvetica, sans-serif;
}

.columna{
    display: flex;
    flex-direction: column;
}
footer h6{
    text-align: center;
    color:hsl(350, 75%, 81%, 0.8);
    display: none;
}

.logo{
    color:  hsl(350, 75%, 81%, 0.8);
    
    size: 20%;
    margin: 8px;
}


    @media(min-width: 768px){

  p{
      font-size: 25px;
      padding: 5px;
  }
    .parrafo{
        margin: 10px;
        padding: 20px;
    }

    .opciones li a{
        font-size: 20px;
    }
    



h2{
    font-size: 30px;
    
}
    }

@media(min-width: 1024px) {
    .imagenmac{
        background-image: url(https://is4-ssl.mzstatic.com/image/thumb/Music124/v4/6c/8a/9a/6c8a9a17-c0e6-0ad7-3707-f29d822380f0/886444594837.jpg/1200x1200bf-60.jpg);
        
        width: 30%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 80px;
        margin-bottom: 40px;
    }
    
    p{
        padding: 30px;
    }
       
        footer{
            background-color:rgb(46, 46, 46);
            display: flex;
            flex-direction: row;
            align-items: center;
            width: auto;
            height: 45px;
            font-family: Arial, Helvetica, sans-serif;
            
            }
        
        h2{
            font-size: 40px;
        }
        .header{
            background-color:rgb(46, 46, 46);
           display: flex;
           flex-direction: column;
           align-items: center;
           width: auto;
           height: 85px;
        justify-content: space-around;
           
        }
}