*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.logo a:hover{
    color: white;
}
.sociales a {
    font-size: 25px;
}

.sociales {
    display: flex;
    list-style: none;
    padding-left: 3%;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sociales li {
    margin-left: 10px;
}

footer a {
    text-decoration: none;
    font-style: oblique;
    color: white;
}

footer a:hover {
    color: rgba(245, 145, 161, 0.8);
}

footer {
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 45px;

}

.columna2 {
    margin-right: 1%;
}
footer {
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 45px;

}

.columna {
    display: flex;
    flex-direction: column;
    width: 100%;
}
body{
    background-color:  hsl(350, 75%, 81%, 0.3);
    background-image: url(../vid/POV\ crowd\ at\ a\ concert.mp4);
    
}

.titulo{
    text-align: center;
    color: white;
    background-color: rgb(250, 165, 179);
    display: none;
}

body{
    background-image: url(http://40.media.tumblr.com/5466a18e2a23bb700a1f88b1e05f1ae5/tumblr_nwc0qcLsxE1sfz936o1_500.jpg);
    background-repeat: no-repeat;
    
}


.header{
    background-color:rgb(46, 46, 46);
   display: flex;
   /* flex-direction: column;
   align-items: center;
   width: auto;
   height: 60px; */
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   height: 45px;
}

.header figure{
    margin: 8px;
}

img{
    width: 100%;
}

    
    


.cuerpo{
    display: flex;
    
    justify-content: center;
    align-items: center;
    
    margin-top: 10%;
}

.parrafo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    
}

h1{
    color: white;
    text-align: center;
    font-size: 5vh;
}
p{
    margin: 5px;
    text-align: center;
    font-size: 2vh;
    color: white;
    background-color: hsl(300, 24%, 80%,0.3);
    
}

a{
    text-decoration: none;
}
.opciones li a{
    text-decoration:none;
    padding:0;
    color:white;
}

.opciones li a:hover{
    color: hsl(350, 75%, 81%, 0.8);
}

.opciones li{
    list-style-type: none;
}

.opciones {
    display:flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    font-size: 10px;
}


footer{
    background-color:rgb(46, 46, 46);
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   height: 45px;
   font-family: Arial, Helvetica, sans-serif;
}

.columna{
    display: flex;
    flex-direction: column;
}
footer h6{
    text-align: center;
    color:hsl(350, 75%, 81%, 0.8);
    display: none;
}

.logo{
    color:  hsl(350, 75%, 81%, 0.8);
    
    font-size: 28px;
    margin: 8px;
}


    @media(min-width: 768px){
    h1{
        font-size: 5vh;
}
  p{
      
      font-size: 2vh;
            background-color: hsl(300, 24%, 80%,0.7);
  }
    .parrafo{
        margin: 10px;
        padding: 20px;
    
    }

    .opciones li a{
        font-size: 20px;
    }
}
    body{
        background-image: url(https://news.cgtn.com/news/2020-10-08/Beijing-Strawberry-Music-Festival-2020-a-success-amid-COVID-19-easing-UqDsqfhbTq/img/25a1e323650b4c7da859061e5a6c98b2/25a1e323650b4c7da859061e5a6c98b2.jpeg);
       
    }
@media(min-width: 1024px) {
    
    
    h1{
        font-size: 15vh;
    }
    p{
        font-size: 3vh;
    }
    body{
        background-image: url(https://a.cdn-hotels.com/gdcs/production45/d344/aaed4bb0-cb15-11e8-87bb-0242ac11000d.jpg);
    }
        
        .header{
            background-color:rgb(46, 46, 46);
           display: flex;
           flex-direction: column;
           align-items: center;
           width: auto;
           height: 85px;
           justify-content: space-around;
           
        }
       
        footer{
            background-color:rgb(46, 46, 46);
            display: flex;
            flex-direction: row;
            align-items: center;
            width: auto;
            height: 45px;
            font-family: Arial, Helvetica, sans-serif;
            
            }
    
}