*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: hsl(350, 75%, 81%, 0.8);
  }

.header{
  background-color:rgb(46, 46, 46);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 45px;  
}



 .logo {
    color: hsl(350, 75%, 81%, 0.8);
    margin: 5%;
    size: 20%;
  }

  .opciones {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    font-size: 10px;
  }  

  .opciones li a {
    color: white;
    font-size: 15px;
    text-decoration: none;
  }

  h2 {
    color: white;   
    background-color: rgb(31, 31, 31, 0.94);
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li{
  list-style-type: none;
  color: black;
  padding: 5px;
}

.canciones {
  font-size: 25px;
  color: green;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: justify;
}

.titleLi {
  margin-left: 15px;
  font-size: 20px;
}

.canciones li {
    border-top: 0.5px solid black; 
  }

 .opciones a {
     color:white;
     font-size: 15px;
     text-decoration: none;
     
 }
 div a:hover{
  color: hsl(350, 75%, 81%, 0.8)  
 }

 footer{
  background-color:rgb(46, 46, 46);
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  width: auto;
  height: 45px;
  font-family: Arial, Helvetica, sans-serif;
  }

  footer h6{
    text-align: center;
    color:white;
  }

  @media(min-width: 1024px){

    footer{
      background-color:rgb(46, 46, 46);
      display: flex;
      flex-direction: row;
      align-items: center;
      width: auto;
      height: 45px;
      font-family: Arial, Helvetica, sans-serif;
    }

    .columna{
      width: 100%;
    }

  }