*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
    background-color:  hsl(350, 75%, 81%, 0.8);
}
a{
    color: rgb(46, 46, 46);
    text-decoration: none;
}
p{
    color:rgb(46, 46, 46) ;
}
header{
    background-color:rgb(46, 46, 46);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 45px;
}

.titulo{
    background-color: rgba(216, 46, 75, 0.3);
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    
    color: white;
    text-align: center;
    font-size: 30px;
    width: 100%;
    
}

h2{
    background-color: rgb(46, 46, 46);
    color: white;
    height: 70px;
    display: flex;
   justify-content: center;
   align-items: center;
}

.logo{
    margin: 8px;
    color:  hsl(350, 75%, 81%, 0.8);
    font-size: 28px;
    
}


.logo:visited{
    color: hsl(350, 75%, 81%, 0.8) ;
}

.cancion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}
.album{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}
.artista{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}
.cancion:hover{
    background-color: rgba(245, 145, 161, 0.8);
}
.cancion h3 a:hover{
    color: white;
}
.album h3 a:hover{
    color: white;
}
.artista h3 a:hover{
    color: white;
}
.album:hover{
    background-color: rgba(245, 145, 161, 0.8);
}
.artista:hover{
    background-color: rgba(245, 145, 161, 0.8);
}
 a:hover{
    color: white;
    
}
.producto p{
    font-size: 15px;
    color: gb(46, 46, 46);
}

.opciones li a{
    text-decoration:none;
    padding:0;
    color:white;
}

.opciones li a:hover{
    color: hsl(350, 75%, 81%, 0.8);
}


.opciones li{
    list-style-type: none;
}

.opciones {
    display:flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    font-size: 10px;
}

.productos{
    display: flex;
   flex-wrap: wrap;
}

.producto p{
    font-size: 15px;
}

.producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.producto a{
    text-decoration: none;
}

.producto h3 a{
    text-decoration: none;
    
}
.producto h3 a:hover{
    color: white;
}

.lista{
    background-color: hsl(350, 75%, 81%, 0.8); 
    display: flex;
    flex-direction: column;
    text-align: center;
}

.carta{
    width: 100%;
}

.imgl{
    border: solid 20px white; 
    width: 100%;
}

.producto a:hover{
    color: white;
    
}

.producto:hover{
    background-color: rgba(245, 145, 161, 0.8);
}
footer{
    background-color:rgb(46, 46, 46);
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   height: 45px;
   width: 100%;
}

footer h6{
    text-align: center;
    color:white;
    display: none;
}

.columna{
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media(min-width:768px){
    .producto{
        width: 50%;
    }
    .productos{
        display: flex;
        justify-content: center;
    }
    .titulo{
        font-size: 60px;
    }
    .opciones li a{
        font-size: 20px;
    }
    .canciones{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 10px;
        width: 100%;
       
    }
    .albums{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 10px;
        width: 100%;
       
    }.artistas{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 10px;
        width: 100%;
       
    }
    .cancion{
        padding: 20px;
        width: 50%;
        
     }
     .album{
        padding: 20px;
        width: 50%;
        
     }.artista{
        padding: 20px;
        width: 50%;
        
     }
}

@media(min-width:1024px){
.producto{
    width: 30%;
}
h1{
    font-size: 60px;
    background-image: url(https://ak.picdn.net/shutterstock/videos/4863305/thumb/1.jpg);
    
}

.cancion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 30%;
}
.album{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 30%;
}
.artista{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 30%;
}
}