*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color:  hsl(350, 75%, 81%, 0.8);
}
a{
    color: rgb(46, 46, 46);
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color:rgb(46, 46, 46);
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 45px;
}

h1{
    background-color: rgba(216, 46, 75, 0.3);
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    
}

h2{
    background-color: rgb(46, 46, 46);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 70px;
    display: flex;
   justify-content: center;
   align-items: center;
}

.logo{
    margin: 8px;
    color:  hsl(350, 75%, 81%, 0.8);
    
}
a:hover{
    transition: .5;
}

.logo:visited{
    color: hsl(350, 75%, 81%, 0.8) ;
}



.opciones li a{
    text-decoration:none;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}

.opciones li a:hover{
    color: hsl(350, 75%, 81%, 0.8);
}


.opciones li{
    list-style-type: none;
}

.opciones {
    display:flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    font-size: 10px;
}

.productos{
    display: flex;
   flex-wrap: wrap;
}

.producto p{
    font-size: 15px;
}

.producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.producto a{
    text-decoration: none;
}

.producto h3 a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.producto h3 a:hover{
    color: white;
}

.lista{
    background-color: hsl(350, 75%, 81%, 0.8); 
    display: flex;
    flex-direction: column;
    text-align: center;
}

.carta{
    width: 100%;
}

.imgl{
    border: solid 20px white; 
    width: 100%;
}

.producto a:hover{
    color: white;
    
}

.producto:hover{
    background-color: rgba(245, 145, 161, 0.8);
}
footer{
    background-color:rgb(46, 46, 46);
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   height: 45px;
   font-family: Arial, Helvetica, sans-serif;
   width: 100%;
}

footer h6{
    text-align: center;
    color:white;
    display: none;
}

.columna{
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media(min-width:768px){
    .producto{
        width: 50%;
    }
    .productos{
        display: flex;
        justify-content: center;
    }
    h1{
        font-size: 60px;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .opciones li a{
        font-size: 20px;
    }
}

@media(min-width:1024px){
.producto{
    width: 30%;
}
h1{
    font-size: 60px;
    margin-top: 2%;
    margin-bottom: 2%;
}
}