*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    background-color:  hsl(350, 75%, 81%, 0.3);
    
}

p{
    font-family: Arial, Helvetica, sans-serif;
}
ul,li,a{
    list-style-type: none;
    text-decoration:none;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color:rgb(46, 46, 46);
   display: flex;
   flex-direction: column;
   align-items: center;
   width: auto;
   height: 60px;

   
}
.tracklist{
    width: 50%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    
}

.tracklist nav{
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: start;
    justify-content: start;
    height: 20%;
    width: 100%;
    background-color: hsl(350, 75%, 81%, 0.3);
    margin: 1%;
    
}


.header figure{
    margin: 8px;
}
.opciones li a {
    color:white;
    
}
ul li a:hover{
    color: coral;
}
.opciones {
    display:flex;
    height: 100%;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    

}
.logo{
    color:  hsl(350, 75%, 81%, 0.8);
    margin: 5%;
    size: 20%;
}

img{
    width: 100%;
}
.imagenmac{
    background-image: url(https://is2-ssl.mzstatic.com/image/thumb/Music124/v4/e3/38/b5/e338b529-da3f-b4b9-b8f9-1fae428e7a23/093624905899.jpg/1200x1200bf-60.jpg);
    
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    
    border: solid 20px white; 
    width: 60%;


    
    
}

.cuerpo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.parrafo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    
}

h1{
    color: white;
}
h2{
    color: white;
    text-align: center;
    
}

.by{
    margin-top: 20px;
}
p{
    margin: 5px;
    text-align: center;

    margin-top: 30px;
    
}

footer{
    background-color:rgb(46, 46, 46);
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   height: 55px;
   font-family: Arial, Helvetica, sans-serif;
   
   
}

.derechos{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
text-align: center;
margin: 5px;
}
.derechos ul li a:hover{
    color: coral;}

    .opciones{
        margin: 2px;
    }

    @media(min-width: 768px){

  p{
      font-size: 25px;
      padding: 5px;
  }
    .parrafo{
        margin: 10px;
        padding: 20px;
    }

    .derechos{
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    text-align: center;
    margin: 5px;
    }
}

h1{
    font-size: 50px;
}

h2{
    font-size: 30px;
    
}

@media(min-width: 1024px) {
    .imagenmac{
        background-image: url(https://is4-ssl.mzstatic.com/image/thumb/Music124/v4/6c/8a/9a/6c8a9a17-c0e6-0ad7-3707-f29d822380f0/886444594837.jpg/1200x1200bf-60.jpg);
        
        width: 30%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 80px;
    }
    
    p{
        padding: 30px;
    }
        footer{
            background-color:rgb(46, 46, 46);
           display: flex;
           flex-direction: column;
           align-items: center;
           width: 100%;
           height: 40px;
           font-family: Arial, Helvetica, sans-serif;
           
        }
        h1{
            font-size: 100px;

            
            
        }
        h2{
            font-size: 40px;
        }
        .header{
            background-color:rgb(46, 46, 46);
           display: flex;
           flex-direction: column;
           align-items: center;
           width: auto;
           height: 55px;
        
           
        }
}