*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.sociales a {
    font-size: 25px;
}

.sociales {
    display: flex;
    list-style: none;
    padding-left: 3%;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sociales li {
    margin-left: 10px;
}

footer a {
    text-decoration: none;
    font-style: oblique;
    color: white;
}

footer a:hover {
    color: rgba(245, 145, 161, 0.8);
}



.columna2 {
    margin-right: 1%;
}

body {
    background-color: hsl(350, 75%, 81%, 0.3);
}

a {
    color: rgb(46, 46, 46);
    text-decoration: none;

}

p {
    color: rgb(46, 46, 46);
}

.header {
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 45px;
}

.logo {
    margin: 8px;
    color: hsl(350, 75%, 81%, 0.8);
    font-size: 28px;
}
body{
    background-color:  hsl(350, 75%, 81%, 0.3);
    
}

a{
    color: rgb(46, 46, 46);
}
a:hover{
    color: white;
}

p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header{
    background-color:rgb(46, 46, 46);
   display: flex;
   flex-direction: column;
   align-items: center;
   width: auto;
   height: 60px;

   
}
.tracklist{
    width: 50%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
   
}

.tracklist li{
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: start;
    justify-content: start;
    height: 20%;
    width: 100%;
    background-color: hsl(350, 75%, 81%, 0.3);
    margin: 1%;
    
}

a{
    text-decoration: none;
}

.header figure{
    margin: 8px;
}


img{
    width: 100%;
}
.imagenmac{
    background-image: url(https://is2-ssl.mzstatic.com/image/thumb/Music124/v4/e3/38/b5/e338b529-da3f-b4b9-b8f9-1fae428e7a23/093624905899.jpg/1200x1200bf-60.jpg);
    
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    
    border: solid 20px white; 
    width: 60%;


    
    
}

.cuerpo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.parrafo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    
}

h1{
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 30px;
    margin-top: 20px;
}

h2{
    color: white;
    text-align: center;
    
        font-size: 25px;
        margin-bottom: 10px;
        
    
}

.by{
    margin-top: 20px;
}
p{
    margin: 5px;
    text-align: center;
    margin-top: 30px;
    
}

a{
    text-decoration: none;
}
.opciones li a{
    text-decoration:none;
    padding:0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:white;
}

.opciones li a:hover{
    color: hsl(350, 75%, 81%, 0.8);
}

.opciones li{
    list-style-type: none;
}

.opciones {
    display:flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    font-size: 10px;
}


footer{
    background-color:rgb(46, 46, 46);
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   height: 45px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.columna{
    display: flex;
    flex-direction: column;
    width: 100%;
}
footer h6{
    text-align: center;
    color:hsl(350, 75%, 81%, 0.8);
    display: none;
}

.logo{
    color:  hsl(350, 75%, 81%, 0.8);
    
    size: 20%;
    margin: 8px;
}


li{
    color: rgb(46, 46, 46);
}

@media(min-width: 768px){

    .opciones li a{
        font-size: 20px;
    }
    
}
@media(min-width: 1024px) {
    .imagenmac{
        background-image: url(https://is4-ssl.mzstatic.com/image/thumb/Music124/v4/6c/8a/9a/6c8a9a17-c0e6-0ad7-3707-f29d822380f0/886444594837.jpg/1200x1200bf-60.jpg);
        
        width: 30%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 80px;
        margin-bottom: 10px;
    }
    h1{
        font-size: 60px;
    }

    .cuerpo{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 30px;
    }
    
    p{
        font-size: 30;
        padding: 30px;
    }
    footer{
        background-color:rgb(46, 46, 46);
        display: flex;
        flex-direction: row;
        align-items: center;
        width: auto;
        height: 45px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
        }
        
        h2{
            font-size: 40px;
        }
        .header{
            background-color:rgb(46, 46, 46);
           display: flex;
           flex-direction: column;
           align-items: center;
           width: auto;
           height: 85px;
        justify-content: space-around;
           
        }
}